<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="add_client_modal">
    <form id="create_client" name="create_client">
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <p class="flow-text">Create new client</p>

                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input placeholder="Client Name" id="name" name="name" type="text" class="validate"/>
                            <label for="name"><span class="red-text text-lighten-2">*</span>Name</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="cancel" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a id="create_client_button" class="modal-action waves-effect waves-green btn-flat green lighten-3" type="submit">Create</a>
            </div>
        </div>
    </form>


</div>
</html>
