<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Campaign Management | Panjandrum </title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12">
                    <a href="/dashboard" class="breadcrumb">Dashboard</a>
                    <a href="/clients" class="breadcrumb">Client Manager</a>
                    <a th:href="'/clients/' + ${client.id}" class="breadcrumb"
                       th:text="${client.name}">Client</a>
                    <a href="" class="breadcrumb" th:text="${campaign.name}">Client</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
            <p th:text="${campaign.name}"></p>

            <div class="row">
                <form class="col s12" id="campaignForm">

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="campaignType" type="text" class="validate"/>
                            <label for="campaignType">Campaign Type</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="backgroundColor" type="text" class="validate" name="backgroundColor"/>
                            <label for="backgroundColor">Primary Color</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="textColor" type="text" class="validate" name="textColor"/>
                            <label for="textColor">Secondary Color</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="primaryImage" type="text" class="validate" name="primaryImage"/>
                            <label for="primaryImage">Primary Image</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="headline" type="text" class="validate" name="headline"/>
                            <label for="headline">Headline</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="body" type="text" class="validate" name="body"/>
                            <label for="body">Body</label>
                        </div>




                        <div class="input-field col s12">
                            <input id="secondaryImage" type="text" class="validate" name="secondaryImage"/>
                            <label for="secondaryImage">Secondary Image</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="startCampaign" type="text" class="validate"/>
                            <label for="startCampaign">Start Campaign Date</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="endCampaign" type="text" class="validate"/>
                            <label for="endCampaign">End Campaign Date</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="campaignStatus" type="text" class="validate"/>
                            <label for="campaignStatus">Campaign Status</label>
                        </div>

                        <div class="col s6">
                            <button>Save</button>
                        </div>

                        <div class="col s6">
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col s12 m6 l6 center" style="max-width:340px">
            <a id="updatePreview" class="waves-effect waves-light btn pulse">Update Preview</a>

            <div class="card center" name="previewCard" id="previewCard">
                <img id="primaryImagePreview" name="primaryImagePreview"
                     src="https://upload.wikimedia.org/wikipedia/en/thumb/4/42/CostaLogo.svg/1024px-CostaLogo.svg.png"
                     alt="Primary Logo" width="176px" height="176px"/>

                <p id="headingPreview" name="headingPreview" class="flow-text black-text">Free Coffee</p>

                <div class="input-field" style="padding-left:10px; padding-right:10px">
                    <input id="phoneNumber" type="text" class="validate"/>
                    <label for="phoneNumber">Your number</label>
                </div>
                <a class="waves-effect waves-light btn pulse">Confirm number</a>

                <p id="bodyPreview"
                   class="grey-text text-lighten-1">Confirm your phone number to claim your FREE coffee voucher code
                    from Costa
                    Coffee</p>

                <p class="black-text">Compliments of</p>

                <img id="secondaryImagePreview"
                     src="https://explore-orange-live-orangedigital.s3.amazonaws.com/styles/press-release/s3/2013/03/13/EE_Thumbnail_0.jpg"
                     alt="Secondary Logo" width="176px" height="176px"/>

                <p class="grey-text text-lighten-2">Powered by <span
                        class="red-text text-lighten-2">Panjandrum.io</span></p>

            </div>
        </div>

    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="/js/codebeast/preview_campaign.js"></script>
</body>
</html>