<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Client Management | Panjandrum </title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Client Manager</a>
    </div>
</nav>

<div class="container" th:if="${client} == null">
    <div class="row">
        <div class="col s12">
            <p class="flow-text center">Looks like the client you were looking for doesn't exist, please try again</p>
        </div>
    </div>
</div>

<div class="container" th:if="${client} != null">
    <div class="row">
        <div class="col s12">
            <p class="flow-text" th:text="${client.name}"></p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>