<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Client Management | Panjandrum </title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12">
                    <a href="/dashboard" class="breadcrumb">Dashboard</a>
                    <a href="/clients" class="breadcrumb">Client Manager</a>
                    <a th:href="'/clients/' + ${client.id}" class="breadcrumb"
                       th:text="${client.name}">Client</a>
                    <a th:href="'/clients/' + ${client.id} + '/campaign/' + ${campaign.id}" class="breadcrumb"
                       th:text="${campaign.name}">CampaignName</a>
                    <a href="" class="breadcrumb">Contact Manager</a>
                </div>
            </div>
        </div>
    </div>
</nav>


<div th:replace="fragments/add_client_modal :: add_client_modal" th:remove="tag"></div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="fixed-action-btn horizontal click-to-toggle">
                <a class="btn-floating btn-large red">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li><a class="btn-floating green modal-trigger" href="#modal1"><i class="material-icons">upload</i></a>
                    </li>
                </ul>
            </div>

            <form method="POST" enctype="multipart/form-data"
                  th:action="${#httpServletRequest.requestURI} + '/upload'">
                <table>
                    <tr>
                        <td>File to upload:</td>
                        <td><input type="file" name="file"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Upload"/></td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>